<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.37.4345.34101" />
  <package id="Cassette" version="1.0.0" />
  <package id="Cassette.Views" version="1.0.0" />
  <package id="Cassette.Web" version="1.0.0" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Jurassic" version="2.1.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="1.7" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="WebActivator" version="1.5" />
</packages>